<div class="d-flex align-items-center justify-content-between mb-3">
  <h1 class="h3 mb-0">Library</h1>
  <div id="library_blob_count">
    <%= render Library::BlobCountComponent.new(count: @video_blobs.size) %>
  </div>
</div>

<div id="library_controls" class="mb-4">
  <%= render Library::ControlsComponent.new(query: @query, media_type_filter: @media_type_filter) %>
</div>

<div id="library_results">
  <%= render Library::ResultsComponent.new(video_blobs: @video_blobs, query: @query) %>
</div>
