<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h4 class="card-title mb-1">Authorize a Device</h4>
        <p class="text-muted mb-4">Enter the code shown on your Reelix client to grant it access.</p>

        <%= simple_form_for :device_authorization, url: oauth_device_authorizations_authorize_url, method: :post do |f| %>
          <%= f.input :user_code,
                      label: "Device code",
                      required: false,
                      input_html: {
                        name: "user_code",
                        id: "user_code",
                        value: params[:user_code],
                        class: "form-control-lg text-center text-uppercase",
                        placeholder: "XXXX-XXXX",
                        autocomplete: "off",
                        autofocus: true
                      } %>

          <div class="d-flex gap-2">
            <%= f.button :submit, "Authorize", class: "btn btn-primary flex-grow-1" %>
            <%= link_to "Cancel", oauth_device_authorizations_index_path, class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
